In [1]:
import os

In [2]:
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION'] = spark_version

In [3]:
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
! pip install -q findspark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelease
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease [1,581 B]
Get:4 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:5 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  Packages [1,007 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:12 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,150 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,668 kB]
Fetched 7,166 kB in 5s (1,558 kB/s)
Reading package lists... Done

In [4]:
# Set Environment Variables
import os
os.environ['JAVA_HOME'] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

In [5]:
# Start a SparkSession
import findspark
findspark.init()

In [6]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2023-05-04 16:34:39--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  4.96MB/s    in 0.2s

2023-05-04 16:34:40 (4.96 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

### Load Amazon Data into Spark DataFrame

In [8]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Digital_Video_Games_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)
df.show(5)

+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|   product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   21269168| RSH1OZ87OYK92|B013PURRZW|     603406193|Madden NFL 16 - X...|Digital_Video_Games|          2|            2|          3|   N|                N|A slight improvem...|I keep buying mad...| 2015-08-31|
|         US|     133437|R1WFOQ3N9BO65I|B00F4CEHNK|     341969535| Xbox Live Gift Card|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|             Awesome| 2015-08-31|
|         US|   45765011| R3YOOS71KM5M9|B00DNHLFQA|     951665344|Command & Conquer...|Digital_Video_Games|          5|            0|          0|   N|                Y|Hail to the great...|If you are preppi...| 2015-08-31|
|         US|     113118|R3R14UATT3OUFU|B004RMK5QG|     395682204|Playstation Plus ...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|             Perfect| 2015-08-31|
|         US|   22151364| RV2W9SGDNQA2C|B00G9BNLQE|     640460561|Saints Row IV - E...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|            Awesome!| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 5 rows

### Create DataFrames to match tables

In [9]:
from pyspark.sql.functions import to_date
# Read in the Review dataset as a DataFrame
review_df = df.select(["review_id","customer_id","product_id","product_parent","product_title","review_date","star_rating", "helpful_votes","total_votes","vine","verified_purchase"])
review_df.show()

+--------------+-----------+----------+--------------+--------------------+-----------+-----------+-------------+-----------+----+-----------------+
|     review_id|customer_id|product_id|product_parent|       product_title|review_date|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+----------+--------------+--------------------+-----------+-----------+-------------+-----------+----+-----------------+
| RSH1OZ87OYK92|   21269168|B013PURRZW|     603406193|Madden NFL 16 - X...| 2015-08-31|          2|            2|          3|   N|                N|
|R1WFOQ3N9BO65I|     133437|B00F4CEHNK|     341969535| Xbox Live Gift Card| 2015-08-31|          5|            0|          0|   N|                Y|
| R3YOOS71KM5M9|   45765011|B00DNHLFQA|     951665344|Command & Conquer...| 2015-08-31|          5|            0|          0|   N|                Y|
|R3R14UATT3OUFU|     113118|B004RMK5QG|     395682204|Playstation Plus ...| 2015-08-31|          5|            0|          0|   N|                Y|
| RV2W9SGDNQA2C|   22151364|B00G9BNLQE|     640460561|Saints Row IV - E...| 2015-08-31|          5|            0|          0|   N|                Y|
|R3CFKLIZ0I2KOB|   22151364|B00IMIL498|     621922192|Double Dragon: Ne...| 2015-08-31|          5|            0|          0|   N|                Y|
|R1LRYU1V0T3O38|   38426028|B00S00IJH8|     215163395|              Sims 4| 2015-08-31|          4|            0|          0|   N|                Y|
| R44QKV6FE5CJ2|    6057518|B004RMK4BC|     384246568|Playstation Netwo...| 2015-08-31|          5|            0|          0|   N|                Y|
|R2TX1KLPXXXNYS|   20715661|B00K59HKIQ|     384246568|Playstation Netwo...| 2015-08-31|          5|            0|          0|   N|                Y|
|R1JEEW4C6R89BA|   26540306|B00K59HKIQ|     384246568|Playstation Netwo...| 2015-08-31|          5|            0|          0|   N|                Y|
|R3B3UHK1FO0ERS|    8926809|B004774IPU|     151985175|Sid Meier's Civil...| 2015-08-31|          1|            0|          0|   N|                N|
|R2GVSDHW513SS1|   31525534|B002LIT9EC|     695277014|Build-a-lot 4: Po...| 2015-08-31|          5|            0|          0|   N|                Y|
|R1R1NT516PYT73|   22151364|B008ALUBYQ|     112160022|       Borderlands 2| 2015-08-31|          5|            0|          0|   N|                Y|
|R3K624QDQKENN9|   22977584|B010KYDNDG|     835376637|Minecraft for PC/...| 2015-08-31|          4|            0|          0|   N|                Y|
| R1FOXH7PCJX3V|   45765011|B008ALUBYQ|     112160022|       Borderlands 2| 2015-08-31|          1|            0|          2|   N|                Y|
| RA1246M1OMDWC|    2239522|B004RMK4P8|     384246568|Playstation Netwo...| 2015-08-31|          5|            0|          0|   N|                Y|
|R2I9SXWB0PAEKQ|   48805811|B004RMK5QG|     395682204|Playstation Plus ...| 2015-08-31|          5|            0|          0|   N|                Y|
|R3UGL544NA0G9C|   18646481|B00BI16Z22|     552981447|Brink of Consciou...| 2015-08-31|          4|            0|          0|   N|                Y|
|R1CBA4Y92GVAVM|   10310935|B004VSTQ2A|     232803743|Xbox Live Subscri...| 2015-08-31|          5|            0|          0|   N|                Y|
|R24NEKNR01VEHU|    5587610|B00GAC1D2G|     384246568|Playstation Netwo...| 2015-08-31|          5|            0|          0|   N|                Y|
+--------------+-----------+----------+--------------+--------------------+-----------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [11]:
# Create the customers_table DataFrame
customers_df = review_df.groupby("customer_id").agg({"customer_id": 'count'}).withColumnRenamed("count(customer_id)", "customer_count")
customers_df.show(35)

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   26079415|             1|
|   12521601|             2|
|    4593696|             1|
|    1468259|             1|
|   38173350|             1|
|    3953141|             2|
|   20598424|             1|
|   46625306|             1|
|   47160828|             2|
|    1337034|             1|
|   14231016|             1|
|   49785748|             1|
|     712525|             1|
|   35339694|             1|
|    8211293|             1|
|   41832251|             1|
|    9037272|             1|
|   52036002|             1|
|   49514578|             1|
|   22875949|             1|
|   18103556|             1|
|   23573304|             2|
|   25494099|             1|
|   11365485|             1|
|   50075147|             2|
|     295048|             4|
|   46351928|             7|
|   45115558|             1|
|   26872164|             1|
|   41369838|             1|
|   42190876|             2|
|   13669205|             1|
|    2128552|             1|
|   32831495|             1|
|     681559|             1|
+-----------+--------------+
only showing top 35 rows

In [15]:
# Create the products_table DataFrame and drop duplicates. 
products_df = review_df.select(["product_id", "product_title"]).drop_duplicates(["product_id"])
products_df.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B000AQ7K4I|Emperor of the Fa...|
|B001AU6TQ8|Crazy Machines 1 ...|
|B001AUEITS|Crazy Machines 2 ...|
|B001E3RHA8|Gremlins from Ata...|
|B001IVC66G|SQUARE ENIX USA I...|
|B001JP5H26|  Risk II [Download]|
|B001K7HUQY|Crimsonland [Down...|
|B001K7HUR8|Ricochet Xtreme [...|
|B001K7HUSW|Snowy: Treasure H...|
|B001K7HUT6|Invadazoid [Downl...|
|B001K7HUTQ|Sewer Run [Download]|
|B001K7HUUK|Astro Fury [Downl...|
|B001K7HUUU|Jewel Quest Solit...|
|B001K7HUV4|Age of Japan [Dow...|
|B001K7HUVY|Butterfly Escape ...|
|B001K7HUWI|    Arxon [Download]|
|B001K7HUWS|Holiday Bonus [Do...|
|B001K7HUX2|Mahjongg Artifact...|
|B001K7HUXC|Delivery King [Do...|
|B001K7HUXM|Aztec Bricks [Dow...|
+----------+--------------------+
only showing top 20 rows

In [22]:
# Create the review_id_table DataFrame. 
# Convert the 'review_date' column to a date datatype with to_date("review_date", 'yyyy-MM-dd').alias("review_date")
review_id_df = review_df.select(["review_id", "customer_id", "product_id", "product_parent", to_date("review_date", 'yyyy-MM-dd').alias("review_date")])
review_id_df.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
| RSH1OZ87OYK92|   21269168|B013PURRZW|     603406193| 2015-08-31|
|R1WFOQ3N9BO65I|     133437|B00F4CEHNK|     341969535| 2015-08-31|
| R3YOOS71KM5M9|   45765011|B00DNHLFQA|     951665344| 2015-08-31|
|R3R14UATT3OUFU|     113118|B004RMK5QG|     395682204| 2015-08-31|
| RV2W9SGDNQA2C|   22151364|B00G9BNLQE|     640460561| 2015-08-31|
|R3CFKLIZ0I2KOB|   22151364|B00IMIL498|     621922192| 2015-08-31|
|R1LRYU1V0T3O38|   38426028|B00S00IJH8|     215163395| 2015-08-31|
| R44QKV6FE5CJ2|    6057518|B004RMK4BC|     384246568| 2015-08-31|
|R2TX1KLPXXXNYS|   20715661|B00K59HKIQ|     384246568| 2015-08-31|
|R1JEEW4C6R89BA|   26540306|B00K59HKIQ|     384246568| 2015-08-31|
|R3B3UHK1FO0ERS|    8926809|B004774IPU|     151985175| 2015-08-31|
|R2GVSDHW513SS1|   31525534|B002LIT9EC|     695277014| 2015-08-31|
|R1R1NT516PYT73|   22151364|B008ALUBYQ|     112160022| 2015-08-31|
|R3K624QDQKENN9|   22977584|B010KYDNDG|     835376637| 2015-08-31|
| R1FOXH7PCJX3V|   45765011|B008ALUBYQ|     112160022| 2015-08-31|
| RA1246M1OMDWC|    2239522|B004RMK4P8|     384246568| 2015-08-31|
|R2I9SXWB0PAEKQ|   48805811|B004RMK5QG|     395682204| 2015-08-31|
|R3UGL544NA0G9C|   18646481|B00BI16Z22|     552981447| 2015-08-31|
|R1CBA4Y92GVAVM|   10310935|B004VSTQ2A|     232803743| 2015-08-31|
|R24NEKNR01VEHU|    5587610|B00GAC1D2G|     384246568| 2015-08-31|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [17]:
# Create the vine_table. DataFrame
vine_df = review_df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])
vine_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
| RSH1OZ87OYK92|          2|            2|          3|   N|                N|
|R1WFOQ3N9BO65I|          5|            0|          0|   N|                Y|
| R3YOOS71KM5M9|          5|            0|          0|   N|                Y|
|R3R14UATT3OUFU|          5|            0|          0|   N|                Y|
| RV2W9SGDNQA2C|          5|            0|          0|   N|                Y|
|R3CFKLIZ0I2KOB|          5|            0|          0|   N|                Y|
|R1LRYU1V0T3O38|          4|            0|          0|   N|                Y|
| R44QKV6FE5CJ2|          5|            0|          0|   N|                Y|
|R2TX1KLPXXXNYS|          5|            0|          0|   N|                Y|
|R1JEEW4C6R89BA|          5|            0|          0|   N|                Y|
|R3B3UHK1FO0ERS|          1|            0|          0|   N|                N|
|R2GVSDHW513SS1|          5|            0|          0|   N|                Y|
|R1R1NT516PYT73|          5|            0|          0|   N|                Y|
|R3K624QDQKENN9|          4|            0|          0|   N|                Y|
| R1FOXH7PCJX3V|          1|            0|          2|   N|                Y|
| RA1246M1OMDWC|          5|            0|          0|   N|                Y|
|R2I9SXWB0PAEKQ|          5|            0|          0|   N|                Y|
|R3UGL544NA0G9C|          4|            0|          0|   N|                Y|
|R1CBA4Y92GVAVM|          5|            0|          0|   N|                Y|
|R24NEKNR01VEHU|          5|            0|          0|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

### Connect to the AWS RDS instance and write each DataFrame to its table.

In [19]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://dharlerjr-video-games.ct40oheubil2.us-west-1.rds.amazonaws.com:5432/video_games_db"
config = {"user":"postgres", 
          "password": "1Oldsalt!", 
          "driver":"org.postgresql.Driver"}

In [27]:
# Write review_id_df to table in RDS
review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [24]:
# Write products_df to table in RDS
# about 3 min
products_df.write.jdbc(url=jdbc_url, table='products_table', mode=mode, properties=config)

In [25]:
# Write customers_df to table in RDS
# 5 min 14 s
customers_df.write.jdbc(url=jdbc_url, table='customers_table', mode=mode, properties=config)

In [26]:
# Write vine_df to table in RDS
# 11 minutes
vine_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)